@let isSending = (isSending$ | async);
<div class="modal-header">
    <h5 class="modal-title">Register User</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="dialogRef.close()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput type="text" placeholder="Insira o nome do usuário" />
            @if (getErrorMessage('name')) {
            <mat-error>
                {{ getErrorMessage("name") }}
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" placeholder="Insira o email" />
            @if (getErrorMessage('email')) {
            <mat-error>
                {{ getErrorMessage("email") }}
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" placeholder="Insira a senha" />
            @if (getErrorMessage('password')) {
            <mat-error>
                {{ getErrorMessage("password") }}
            </mat-error>
            }
        </mat-form-field>

        @if (errors().length > 0) {
        <div class="alert alert-danger" role="alert">
            <strong>Errors:</strong>
            <ul class="mb-0">
                @for (err of errors(); track $index) {
                <li>{{ err }}</li>
                }
            </ul>
        </div>
        }
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dialogRef.close()">
        Cancel
    </button>
    <span [matTooltip]="defineToolTipBtnSave()" matTooltipPosition="above">
        @if (!isSending) {
        <button [disabled]="!form.valid || isSending" type="button" class="btn btn-primary" (click)="onRegister()">
            Save
        </button>
        } @else {
        <button type="button" class="btn btn-primary" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Saving...
        </button>
        }
    </span>
</div>