@let isSending = (isSending$ | async);
<h2 class="text-center pt-1" mat-dialog-title>Register User</h2>
<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput type="text" placeholder="Enter your name." />
            @if (getErrorMessage('name')) {
            <mat-error>
                {{ getErrorMessage("name") }}
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" placeholder="Enter your email." />
            @if (getErrorMessage('email')) {
            <mat-error>
                {{ getErrorMessage("email") }}
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" placeholder="Enter your password." />
            @if (getErrorMessage('password')) {
            <mat-error>
                {{ getErrorMessage("password") }}
            </mat-error>
            }
        </mat-form-field>

        @if (errors().length > 0) {
        <div class="alert alert-danger" role="alert">
            <strong>Errors:</strong>
            <ul class="mb-0">
                @for (err of errors(); track $index) {
                <li>{{ err }}</li>
                }
            </ul>
        </div>
        }
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancel</button>

    <button mat-flat-button color="primary" [disabled]="!form.valid || isSending" (click)="onRegister()">
        @if (!isSending) { Save } @else { Saving... }
    </button>
</mat-dialog-actions>